doctype html
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/app.css', rel='stylesheet')
  body
    #tictactoe
    script(type='text/javascript' src='/js/app.js')
