.message {
  background: white;
  border: 0.25em solid #dde;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  color: #668;
  margin: 0 auto 2em auto;
  padding: 1em 0;
  width: 25em;
}

.btn {
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: #337ab7;
  background-image: none;
  border-color: #2e6da4;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.github {
  margin-top: 2em;
}

.github iframe {
  border: 0;
}

.github iframe:first-child {
  margin-right: 1em;
}
